body {
  font-family: 'Courier Prime', monospace;
  background-color:#f0f0f0;
}
h1,
h2 {
  font-family: 'Courier Prime', monospace;
  color:#9fa9a3;
}
p {
  color:#9fa9a3;
}
header {
  background-color:#c5d5c5;
  color:#9fa9a3;
  padding:18px;
}
