body {
  font-family: 'Courier Prime', monospace;
  background-color:#999966;
}
h1,
h2 {
  font-family: 'Courier Prime', monospace;
  color: white;
}
p {
  color: white;
}
header {
  background-color:#996241;
  color: white;
}
