body {
  font-family:'Slaytanic Regular';
  background-color:#f0f0f0;
}
flex-container {
  display: flex;
  height: 200px;
  align-items: baseline;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap
}

h1,
h2 {
  font-family: 'Slaytanic Regular';
  color:#9fa9a3;
}
@font-face {
  font-family: 'Slaytanic Regular';
  src: url('https://txt-dynamic.static.1001fonts.net/txt/dHRmLjcyLjAwMDAwMC5WR2hsSUZCdmRXSmxiR3hsSUZCeWIycGxZM1EsLjI,/slaytanic.regular.png') format('woff2');
}
p {
  color:#9fa9a3;
}
header {
  background-color:#c5d5c5;
  color:#9fa9a3;
  padding:18px;
  font-family: 'Big Shoulders Stencil Text', cursive;
}
.dropbtn {
  background-color: #9fa9a3;
  color: #e3e0cc;
  padding: 15px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9fa9a3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #e3e0cc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
}
button {
  background-color: #9fa9a3;
  color: #e3e0cc;
  padding: 15px;
  font-size: 15px;
  border: none;
}
